<div class="form-group">
  <strong>Nome</strong>: <input type="text" name="nome" class="form-control custom-input" value="<%= @carro&.nome %>">
</div>
<div class="form-group">
  <strong>Modelo</strong>: <input type="text" name="modelo" class="form-control custom-input" value="<%= @carro&.modelo %>">
</div>
<div class="form-group">
  <strong>Ano</strong>: <input type="number" name="ano" class="form-control custom-input" value="<%= @carro&.ano %>">
</div>