<section class="py-5 text-center container">
<h1>Mostrando o  Carro</h1>
<hr>
<div style="text-align:left">
  <form>
    <div class="form-group">
      <strong>Nome</strong>: <input type="text" class="form-control custom-input" value="<%= @carro.nome %>">
    </div>
    <div class="form-group">
      <strong>Modelo</strong>: <input type="text" class="form-control custom-input" value="<%= @carro.modelo %>">
    </div>
    <div class="form-group">
      <strong>Ano</strong>: <input type="number" class="form-control custom-input" value="<%= @carro.ano %>">
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a href="/carros" class="btn btn-warning">Voltar para a lista</a>
  </form>
</div>

</section>