<section class="py-5 text-center container">
<h1>Mostrando o  Carro</h1>
<hr>
<div style="text-align:left">
  <form action="<%= carros_criar_path %>" method="POST">
    <%= render "form" %>
    <hr>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a href="/carros" class="btn btn-warning">Voltar para a lista</a>
  </form>
</div>

</section>