<p style="color: green"><%= notice %></p>

<h1>Fornecedores</h1>

<div id="fornecedores">
  <% @fornecedores.each do |fornecedor| %>
    <%= render fornecedor %>
    <p>
      <%= link_to "Mostrar", fornecedor, class: "btn btn-warning" %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "Novo", new_fornecedor_path, class: "btn btn-primary btn-lg" %>

